.summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
}

.info-btn {
  color: #f6f6f8;
  cursor: pointer;
}

.score {
  margin-left: 6px;
}

.score-dialog-list {
  width: 350px;
  position: absolute;
  top: 170px;
  left: 60%;
}
