<div class="summary-header">
    <h2 mat-dialog-title>
        Game Complete!
        <div class="score">Your Score: {{ data.score }}</div>
    </h2>
    <mat-icon class="info-btn" matTooltip="View Scoring Logic" (click)="openScoringInfo()">
        info
    </mat-icon>
</div>
@for(item of data.data;track item.imageId ){
<mat-dialog-content>
    <p class="item" [style.color]="item.distanceInMeters <= 50 ? 'green' : 'red'">
        You were <strong>{{ item.distanceInMeters }} m</strong> away from Location
        {{ item.imageId }}
    </p>
</mat-dialog-content>
}

<mat-dialog-actions align="end">
    <button mat-button (click)="restartGame()">Restart</button>
    <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>