.container {
  display: flex;

  .form {
    margin: 9px;
    background-color: #4a2399;
    min-height: 90vh;
    max-width: 60vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 20px;

    .form-heading {
      padding: 0 30px;
    }
  }
}

.btn-guess {
  margin: 1rem 1rem 1rem 6rem;
}

.gameImage {
  height: 575px;
  width: 870px;
}
