.container {
  display: flex;

  .form {
    margin: 9px;
    background-color: #4a2399;
    min-height: 90vh;
    max-width: 60vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 20px;

    .form-heading {
      padding: 0 30px;
    }
    .form-lat,
    .form-lng {
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
    }
  }
}

label {
  margin: 1px 25px;
}
input {
  margin: 8px 20px;
  padding: 8px;
  font-size: 1rem;
  border-radius: 6px;
  border: 2px solid #4a2399;
  /* transition: transform 0.15s ease; */
}
input:hover {
  /* transform: scale(1.1); */
}
.btn-guess {
  margin: 1rem 1rem 1rem 6rem;
}

.gameImage {
  height: 575px;
  width: 870px;
}
