.container {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  flex-direction: column;

  .form {
    margin-left: 1rem;
    background-color: #4a2399;
    width: 100%;
    max-width: 420px;
    min-height: 70vh;

    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 20px;
    border-radius: 1rem;
    box-sizing: border-box;

    .form-heading {
      padding: 0 30px;
    }
  }
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.btn-next {
  background-color: black;
  color: white;
  padding: 6px;
}

.display-box {
  background: rgb(222, 217, 217);
  width: 90%;
  min-height: 450px;
  display: flex;
  flex-direction: row;

  margin: 0 auto;
  padding: 20px;
  border-radius: 1rem;
  overflow: hidden;
}

.gameImage {
  height: 450px;
  width: 700px;
  /* width: 100%;
  max-width: 700px;
  object-fit: cover; */
  display: block;
  border-radius: 1rem;
}

.level-heading {
  font-size: 1.8rem;
  text-align: center;
  color: rgb(225, 231, 57);
  margin-bottom: 2px;
}
.home {
  text-align: right;
  cursor: pointer;
}
@media (max-width: 768px) {
  .display-box {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    width: 100%;
    max-width: 80%;
  }
  .gameImage {
    width: 100%;
    max-width: 100%;
  }
  .container {
    .form {
      margin-left: 0px;
    }
  }
}
