.input-container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

label {
  margin: 1px 25px;
}
input {
  margin: 8px 20px;
  padding: 8px;
  font-size: 1rem;
  border-radius: 6px;
  border: 2px solid #4a2399;
}
.error-box {
  border: 1px solid red;
}
.error {
  font-size: 12px;
  color: red;
  margin-left: 1.5rem;
}
