/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #253b61;
  color: whitesmoke;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.btn {
  height: 2.2rem;
  width: 6rem;
  border-radius: 20px;
  border: 2px solid #97e851;
  color: white;
  margin: 1rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  background: #97e851;
  align-items: center;
  cursor: pointer;
  transition: transform 0.15s ease;
}
button:active,
button:hover {
  transform: scale(1.1);
}
