/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80%;
  background-color: #253b61;
  color: whitesmoke;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.btn {
  height: 2.2rem;
  width: 6rem;
  border-radius: 20px;
  border: 2px solid #97e851;
  color: white;
  margin: 1rem;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  background: #97e851;
  align-items: center;
  cursor: pointer;
  transition: transform 0.15s ease;
}
button:active,
button:hover {
  transform: scale(1.1);
}

.full-width-top-error {
  margin-top: 1rem !important;
}

/* This targets the actual background and box */
.full-width-top-error .mdc-snackbar__surface {
  background-color: #b71c1c !important;
  min-width: 50vw !important;
  min-height: 80px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* This targets the text inside */
.full-width-top-error .mdc-snackbar__label {
  color: white !important;
  font-size: 1.5rem !important;
  text-align: center !important;
  flex-grow: 1 !important;
}

.full-width-top-error .mdc-snackbar__action {
  color: yellow !important;
  font-weight: bold !important;
}
