.container {
  color: rgb(246, 243, 243);
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.75rem;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 4px;
    z-index: 1;
    overflow-x: hidden;
    justify-content: space-between;
    position: relative;
    background-color: rgba(16, 16, 28, 0.6);
    color: rgb(247, 247, 245);
    /* transition: all 0.2s ease-in-out; */

    .header-right {
      margin: 16px;
    }
  }

  .heading {
    font-family: Arial, Helvetica, Impact, Haettenschweiler, "Arial Narrow Bold",
      sans-serif;
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    margin: 40px 50px;
    justify-content: center;

    /* color: rgba(0, 0, 0, 0);
    background: linear-gradient(180deg, #fff 6.5%, #c2c2db 80%);
    -webkit-background-clip: text;
    background-clip: text;
    filter: drop-shadow(0 0.0625rem 0.125rem var(--ds-color-purple-100)); */
  }

  .btn-start {
    width: 8rem;
    font-size: 17px;
  }

  .logo {
    font-size: 1.4rem;
    font-weight: 900;
    font-family: sans-serif;
    transform: translateY(-2px);
    text-shadow: 3px 3px 5px rgba(46, 215, 190, 0.587),
      6px 6px 12px rgba(46, 215, 190, 0.4), 9px 9px 20px rgba(46, 215, 190, 0.2);
  }
  .header-left {
    margin-left: 8px;
  }
}
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.how-to-play-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.step-item {
  display: flex;
  align-items: center; /* icon + text in a row */
  gap: 12px; /* space between icon and text */
  position: relative;
  padding: 6px;
}
.step-item:hover {
  cursor: pointer;
  background: rgba(252, 252, 252, 0.5);
  border-radius: 50px;
  color: black;
}

.step-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: rgba(145, 255, 0, 0.85);
  color: #000;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.step-text {
  line-height: 1.4;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.globe {
  position: absolute;
  left: -15%;
  top: 78%;
  width: 650px;
  transform: translateY(-50%);
  animation: rotateGlobe 200s linear infinite;
}
.girl {
  position: absolute;
  right: 10%;
  bottom: 0;
  width: 200px;
  animation: bounce 2s ease-in-out infinite;
}

/* Animations */
@keyframes rotateGlobe {
  0% {
    transform: translateY(-50%) rotate(20deg);
  }
  100% {
    transform: translateY(-50%) rotate(90deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.score-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  margin: 20px 0;
}

.score-circle {
  width: 30px;
  height: 30px;
  background-color: #71716e;
  border: 5px solid #fbc02d;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333;
  margin-top: 4px;
}

.obtained {
  font-size: 1rem;
  line-height: 1;
}

@media (max-width: 768px) {
  .globe {
    display: none;
  }
  .container {
    .heading {
      font-size: 1.5rem;
    }
    .btn-start {
      font-size: 12px;
      width: 6rem;
    }
  }
  .girl {
    position: absolute;
    right: -3%;
    top: 18%;
    height: 100px;
    width: 100px;
  }
  .how-to-play-list {
    gap: 8px;
  }
  .step-item {
    margin: 0 40px;
  }
  .step-icon {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}
